<style>
	.joinForm {
		max-width: 600px;
		margin: auto;
		font-size: 1.25rem;
	}
	.err{
		font-size: 0.9rem;
		color: red;
	}
	.form-check-inline >*{
		cursor:pointer;
	}
</style>
<script>
	$(function(){
		$("input[name='auth']").change(function(){
			var auth = $("input[name='auth']:checked").val();
			
			if(auth=='매장'){
				$("select[name='grade']").html(`
						<option selected disabled hidden>매장등급 선택</option>
						  <option value="1">스페셜</option>
						  <option value="2">일반</option>
						  <option value="3">아울렛</option>
						  `)
			/* 	<option selected disabled hidden>매장등급 선택</option>
				  <option value="1">스페셜</option>
				  <option value="2">일반</option>
				  <option value="3">아울렛</option> */
			}else{
				$("select[name='grade']").html(`
					<option value="0" selected>기타</option>
				  	`)
			}
			
		})
		
		
		if($('#sCode').hasClass('is-valid')){
			console.log('요요')
		}
	})
	
	function chkSCode(n){
		console.log(n.value)
		var sCode = $(n).val();
		var regex = /^[a-zA-Z0-9]*$/
		
		$.ajax({
			url: 'chkSCode',
			type:'post',
			data: {sCode: sCode},
			success: function(cnt){
	
				if(!regex.test(sCode) || sCode ==''){
					
					$(n).removeClass('is-valid')
					$(n).addClass('is-invalid')
					$('.invalid-feedback.duplicated').css("display","none")
					$('.valid-feedback.sCode').css("display","none")
					$('.invalid-feedback.regex').css("display","block")
					
					
				}else{
					if(cnt == 0){
						
						$(n).removeClass('is-invalid')
						$(n).addClass('is-valid')
						$('.invalid-feedback.regex').css("display","none")
						$('.invalid-feedback.duplicated').css("display","none")
						$('.valid-feedback.sCode').css("display","block")
						
					}else{
					
						$(n).removeClass('is-valid')
						$(n).addClass('is-invalid')
						$('.invalid-feedback.regex').css("display","none")
						$('.valid-feedback.sCode').css("display","none")
						$('.invalid-feedback.duplicated').css("display","block")
						
					}
					
				}
				
				if($('#sPw').hasClass('is-valid') && $('#sCode').hasClass('is-valid')){
					
					$('#submitBtn').attr('disabled',false);
				}else{
					$('#submitBtn').attr('disabled',true);
				}
				
			},
			error: function(request, status, error){
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		})
	}
	
	
	function chkSPw(){
		
		var sPw = $('#sPw').val();
		var sPw2 = $('#sPw2').val();
		
		if(sPw2 != sPw || sPw2 == ''){
			$('#sPw').removeClass('is-valid');
			$('#sPw').addClass('is-invalid');
			$('#sPw2').removeClass('is-valid');
			$('#sPw2').addClass('is-invalid');
		}else{
			$('#sPw').removeClass('is-invalid');
			$('#sPw').addClass('is-valid');
			$('#sPw2').removeClass('is-invalid');
			$('#sPw2').addClass('is-valid');
		}
		
		if($('#sPw').hasClass('is-valid') && $('#sCode').hasClass('is-valid')){
			
			$('#submitBtn').attr('disabled',false);
		}else{
			$('#submitBtn').attr('disabled',true);
		}
	}
</script>

<h2 class="title row mt-5 mb-5 p-2 justify-content-center">매장 등록</h2>

<form class="mb-5 pb-5" action="insertReg" method="post" th:object="${storeDTO}">
<div class="joinForm p-5 border border-4 border-secondary rounded-5">
	<fieldset class="row mb-4 align-items-center">
    	<legend class="col-form-label col-sm-4 pt-0">권한설정</legend>
	    <div class="col-sm-8">
	      <div class="form-check-inline">
			  <input class="form-check-input" type="radio" name="auth" id="authStore" value="매장" checked>
			  <label class="form-check-label" for="authStore">
			    매장
			  </label>
	      </div>
	      <div class="form-check-inline ">
			  <input class="form-check-input" type="radio" name="auth" id="authAs" value="AS">
			  <label class="form-check-label" for="authAs">
			    AS
			  </label>
	      </div>
	      <div class="form-check-inline">
	        <input class="form-check-input" type="radio" name="auth" id="authCenter" value="관리자">
			<label class="form-check-label" for="authCenter">
			  관리자
			</label>
	      </div>
	      
	    </div>
	</fieldset>
	<fieldset class="row mb-4 align-items-center">
    	<legend class="col-form-label col-sm-4 pt-0">매장등급</legend>
	    <div class="col-sm-8">
	        <select class="form-select form-select-lg" aria-label="Large select example" name="grade">
				  <option value="0" selected hidden>매장등급 선택</option>
				  <option value="1">스페셜</option>
				  <option value="2">일반</option>
				  <option value="3">아울렛</option>
			</select>
	    <div class="err" th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}" ></div>
	    </div>
	</fieldset>

	<div class="row mb-4 align-items-center">
	    <label for="sName" class="col-form-label col-sm-4">매장명</label>
	    <div class="col-sm-8 has-validation">
	      <input type="text" class="form-control form-control-lg " id="sName" name="sName" placeholder="매장명 입력"/>
	  	  <div class="err" th:if="${#fields.hasErrors('sName')}" th:errors="*{sName}" ></div>
	    </div>
	</div>
	<div class="row mb-4 align-items-center">
	    <label for="sCode" class="col-form-label col-sm-4">매장코드</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control form-control-lg " id="sCode" name="sCode" onKeyup="chkSCode(this);" placeholder="매장코드(계정) 영문,숫자 입력 "  />
	      <div class="err" th:if="${#fields.hasErrors('sCode')}" th:errors="*{sCode}" ></div>
   	  	  <div class="valid-feedback sCode">사용 가능한 코드</div>
	  	  <div class="invalid-feedback duplicated">사용 중인 코드</div>
	  	  <div class="invalid-feedback regex">영문 or 숫자만 입력</div>
	    </div>
	</div>
	<div class="row mb-4 align-items-center">
	    <label for="sPw" class="col-form-label col-sm-4">비밀번호</label>
	    <div class="col-sm-8">
	      <input type="password" class="form-control form-control-lg " id="sPw" name="sPw"  onKeyup="chkSPw();" placeholder="비밀번호 입력" />
	      <div class="err"  th:if="${#fields.hasErrors('sPw')}" th:errors="*{sPw}" ></div>
	    </div>
	</div>
	<div class="row mb-4 align-items-center">
	    <label for="sPw2" class="col-form-label col-sm-4">비밀번호 확인</label>
	    <div class="col-sm-8">
	      <input type="password" class="form-control form-control-lg " id="sPw2" name="sPw2" onKeyup="chkSPw();" placeholder="비밀번호 확인" />
	      <div class="valid-feedback sPw2">비밀번호 확인 완료</div>
	      <div class="invalid-feedback sPw2">입력한 비밀번호와 맞지 않습니다.</div>
	    </div>
	</div>
	<div class="row mb-4 align-items-center">
	    <label for="manager" class="col-form-label col-sm-4">담당자</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control form-control-lg " id="manager" name="manager" placeholder="담당자 입력"/>
	      <div class="err" th:if="${#fields.hasErrors('manager')}" th:errors="*{manager}" ></div>
	    </div>
	</div>
	<div class="row mb-4 align-items-center">
	    <label for="tel" class="col-form-label col-sm-4">연락처</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control form-control-lg " id="tel" name="tel" placeholder="ex) 010-1234-1234" />
	      <div class="err" th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" ></div>
	    </div>
	</div>
	<div class="row mb-4 align-items-center">
	    <label for="addr" class="col-form-label col-sm-4">매장주소</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control form-control-lg " id="addr" name="addr" placeholder="매장주소 입력"/>
	      <div class="err"  th:if="${#fields.hasErrors('addr')}" th:errors="*{addr}" ></div>
	    </div>
	</div>
	<div class="row mb-5 align-items-center">
	    <label for="email" class="col-form-label col-sm-4">이메일</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control form-control-lg " id="email" name="email" placeholder="ex) yurp@yurp.com" />
	      <div class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
	    </div>
	</div>	
	<div class="d-flex justify-content-end">
		<input id="submitBtn" class="btn btn-lg btn-primary" type="submit" value="등록" disabled/>
	</div>
	
</div>
</form>
