
<style>
	.manager {
		width: 210px;	
	}
	.signBg {
		width: 100px;
		height: 100px;
		line-height: 100px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100px 100px;

	}
	#closeBtnBox {
		position: sticky;
		top: 0px;
		background-color: #fff;
	}
</style>
<script th:inline="javascript">
	$(function(){
		/* $('#startSign').css('background-image','url(/sign/'+[[${ioInfo.start}]]+'.png)'); */
	})
</script>

<div id="closeBtnBox"  class="row justify-content-end align-items-center mb-3">
	<div class="btn col-md-auto p-3" onclick="closePop();">
		<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
		  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
		</svg>
	</div>
</div>
	
<div class="paper">
	<h2 class="title row mt-5 mb-5 p-2 justify-content-center">입/출고 전표</h2>
	<div class="row g-3 justify-content-end mb-3">
	
		<div class="col-md-auto">
			<div class="input-group">
				<span class="input-group-text">전표번호</span>
				<span class="form-control"  th:text="${ioInfo.ioStat}"></span>
			</div>
		</div>
		<div class="col-md-auto">
			<div class="input-group">
				<span class="input-group-text">등록일자</span>
				<span class="form-control" th:text="${#dates.format(ioInfo.regDate, 'yyyy-MM-dd')}"></span>
			</div>
		</div>
		<div class="col-md-auto">
			<div class="input-group">
				<span class="input-group-text">출고점</span>
				<span class="form-control" th:text="${ioInfo.startName}"/>
			</div>
		</div>
		<div class="col-md-auto">
			<div class="input-group">
				<span class="input-group-text">입고점</span>
				<span class="form-control" th:text="${ioInfo.arrivalName}"/>
			</div>
		</div>
		<div class="col-md-auto">
			<div class="input-group">
				<span class="input-group-text">처리여부</span>
				<span class="form-control" th:text="${ioInfo.process}"/>
			</div>
		</div>
	
	
	</div>
	
	<form action="">
		<div class="tableBox mb-3">
			<table id="data" class="table table-striped-columns border border-light-subtle">
				<colgroup>
					<col style=""/>
					<col style=""/>
					<col style=""/>
					<col style=""/>
					<col style=""/>
					<col style=""/>
					<col style=""/>
					<col style=""/>
					<col style=""/>
					<col style=""/>
					<col style=""/>
					<col style=""/>
					<col style=""/>
				</colgroup>
				<thead>
					<tr class="table-dark">
						<td>번호</td>
						<td>브랜드</td>
						<td>시즌</td>
						<td>등급</td>
						<td>품명</td>
						<td>품번</td>
						<td>컬러</td>
						<td>사이즈</td>
						<td>상품코드</td>
						<td>정가</td>
						<td>수량</td>
						<td>금액</td>
					</tr>
				</thead>
				<tbody>
				 	<tr th:each="dto : ${viewDetail}" >
				 		<td th:text="${dtoStat.count}"></td>
						<td th:text="${dto.bName}"></td>
						<td th:text="${dto.season}"></td>
						<td th:text="${dto.grade}? '스페셜':'일반'"></td>
						<td th:text="${dto.pName}"></td>
						<td th:text="${dto.pNum}"></td>
						<td th:text="${dto.color}"></td>
						<td th:text="${dto.pSize}"></td>
						<td th:text="${dto.pCode}"></td>
						<td th:text="|${#numbers.formatInteger(dto.liPrice, 0, 'COMMA')}|"></td>
						<td th:text="|${#numbers.formatInteger(dto.cnt, 0, 'COMMA')}|"></td>
						<td th:text="|${#numbers.formatInteger(dto.price, 0, 'COMMA')} 원|"></td>
	
					</tr> 
				</tbody>
				<tfoot class="table-group-divider">
					<tr class="tot table-secondary">
						<td>통계</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td th:text="|${#numbers.formatInteger(ioInfo.totCnt, 0, 'COMMA')}|" style="color:var(--bs-blue); font-weight:bold"/>
						<td th:text="|${#numbers.formatInteger(ioInfo.totPrice, 0, 'COMMA')} 원|" style="color:var(--bs-blue); font-weight:bold"/>
					</tr>
		
				</tfoot>
			</table>
		</div>
		
		<div class="signBox mt-5 mb-3">
			<div class="d-flex gap-3 mb-3 justify-content-end align-items-center">
				<span>출고확인 : </span> 
				<div class="manager fw-bold fst-italic">[[${ioInfo.startName}]] - [[${ioInfo.startManager}]]</div>
				<div id="startSign" class="signBg" th:style="|background-image: url(/view/sign/${ioInfo.start}.png)|" >(인)</div>
			</div>
			<div class="d-flex gap-3 justify-content-end align-items-center">
				<span>입고확인 : </span> 
				<div class="manager fw-bold fst-italic">[[${ioInfo.arrivalName}]] - [[${ioInfo.arrivalManager}]]</div>
				
				<th:block th:switch="${ioInfo.process}">
					<th:block th:case="미처리">
						<div id="arrivalSign" class="signBg">(인)</div>
					</th:block>
					<th:block th:case="거절">
					<div id="arrivalSign" class="signBg" style="font-weight: bold; color: #f00;">거절완료</div>
					</th:block>
					<th:block th:case="승인">
					<div id="arrivalSign" class="signBg" th:style="|background-image: url(/view/sign/${ioInfo.arrival}.png)|">(인)</div>
					</th:block>
				</th:block>
			</div>		
		</div>
		<div class="d-flex gap-3 mb-5 justify-content-end" th:if="${session.loginStore.sCode eq ioInfo.arrival}">
			<div id="acceptBtn" class="btn btn-primary col-md-3" style="width: 100px;">승인</div>
			<a id="rejectBtn" th:href="|reject/${ioInfo.ioStat}|" class="btn btn-danger col-md-3" style="width: 100px;">거절</a>
		</th:block>
	</form>

</div>

