
<style>
	.big{
		display:block;	
	}
	.tab{
		display:flex;
	}
	.tab>div{
		margin-right: 10%;
	    margin-top: 5%;
	    width: 50%;
	}
	input{
		border:none;
	}
 	section {
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}
	.scr{
		border: 1px solid #fff;
		width: 1200px;
		height: 450px;
		overflow-y: scroll;
	}
	.tableBox {
		width: 100%;
		max-height: 600px;
		overflow: auto;
	}
	.table > thead{
		position: sticky;
		top:0;
	}
	
	.table > tfoot{
		position: sticky;
		bottom: -1px;
	}
</style>
<script>
 $(function(){
	$(".bName").on("click",function(){
		$("#modify").off("click"); // .bName여러번 클릭 후 modify누르고 저장 누르면 자꾸 클릭 수 만큼 alert창 띄워져서 방지하는 것
		$("input").attr("style",'background-color : none')
		var bNo = $(this).siblings(".bNo").text();
		$("#bNo").val(bNo)
		console.log("bno", bNo)
		var bCode = $(this).siblings(".bCode").text();
		/* var burl = '../brand/'+bCode */
		const dt = {
				"bCode": bCode
		}

		$.ajax({
			 type: 'get'
	        , url: 'detail'
	        , data: dt
	        , success: function (res) {
	        	console.log("성공", res)
	        		console.log(res.bname)
	        	 	$("#bName").val(res.bname);
					$("#bCode").val(res.bcode);
					$("#addr").val(res.addr);
					$("#tel").val(res.tel);
					$("#email").val(res.email);
	            
	        },
	        error: function(){
	        	alert("실패")
	        }
		});
		
		$("#modify").on("click",function(){
			$("#save").off("click");
			$("input").attr("readonly",false).attr("style",'background-color : yellow')
			$("#save").click(function(){
			 	$.ajax({
					type : 'post',
					url : 'modify/'+bNo,
					data : {
						bName : $("#bName").val(),
						bCode : $("#bCode").val(),
						addr : $("#addr").val(),
						tel : $("#tel").val(),
						email : $("#email").val(),
						bNo : $("#bNo").val()
					},
					success: function (data) {
						alert("수정되었습니다.")
						location.href="../brand/list"
					}
				}) 
			}) 
			
		})
	})
	
	
	$("#insert").click(function(){
		
		$("#modify").off("click");
		$("#save").off("click");
		$("#delete").off("click");
		
		$("input").attr("readonly",false).attr("style",'background-color : skyblue ').val("")
		$("#save").click(function(){
		 	$.ajax({
				type : 'post',
				url : 'insert',
				data : {
					bName : $("#bName").val(),
					bCode : $("#bCode").val(),
					addr : $("#addr").val(),
					tel : $("#tel").val(),
					email : $("#email").val()

				},
				success: function () {
					alert("저장되었습니다.")
					location.href="../brand/list"
				}
			}) 
		})
	});

	
	$("#delete").click(function(){
		var chk = confirm("삭제하시겠습니까?")
		if(chk==true){
			location.href="../brand/delete/"+$("#bNo").val();	
		}
		
	});
	
}) 

</script>
<h1>브랜드 목록</h1>
<div class="big">
	<div class="btn">
		<button id="insert" class="btn btn-success">추가</button>
		<button id="modify" class="btn btn-warning">수정</button>
		<button id="save" class="btn btn-primary">저장</button>
		<button id="delete"  class="btn btn-danger">삭제</button>
	</div>
	<div class="tab">
		<div>
			<table class="table table-striped-columns">
				<colgroup>
					<col width="10%"/>
					<col width="30%"/>
					<col width="60%"/>
				</colgroup>
				<tr th:each="list : ${blist}">
					<td class="table-dark" th:text="${listStat.index+1}"></td>
					<td th:text="${list.bNo}" class="bNo" style="display: none;"></td>
					<td th:text="${list.bCode}" class="bCode"></td>
					<td th:text="${list.bName}" class="bName"></td>
				</tr>
				
			</table>
		</div>
		
		<div>
			<table class="table table-striped-columns">
				<colgroup>
					<col width="30%"/>
					<col width="60%"/>
				</colgroup>
				
				<tr>
					<input type="hidden" id="bNo" name="bNo">
					<td class="table-dark" >브랜드명</td>
					<td><input type="text" readonly="true"  id="bName" name="bName"></td>
				</tr>
				<tr>
					<td class="table-dark" >브랜드코드</td>
					<td><input type="text" readonly="true" id="bCode" name="bCode"></td>
				</tr>
				<tr>
					<td class="table-dark" >주소</td>
					<td><input type="text" readonly="true" id="addr" name="addr"></td>
				</tr>
				<tr>
					<td class="table-dark" >전화번호</td>
					<td><input type="text" readonly="true" id="tel" name="tel"></td>
				</tr>
				<tr>
					<td class="table-dark" >이메일</td>
					<td ><input type="text" readonly="true" id="email" name="email"></td>
				</tr>
			</table>
		</div>
	</div>
</div>

