<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script>
	$(function() {
		$("#no").click(function() {
			if (confirm('삭제하시겠습니까?')) {
				document.location.href = '/notice/list';
			} else {
				return false;
			}
		});
	});
</script>
<style>
 	section {
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}
	.scr{
		border: 1px solid #fff;
		width: 1200px;
		height: 450px;
		overflow-y: scroll;
	}
	.tableBox {
		width: 100%;
		max-height: 600px;
		overflow: auto;
	}
	.table > thead{
		position: sticky;
		top:0;
	}
	
	.table > tfoot{
		position: sticky;
		bottom: -1px;
	}

</style>
</head>
<body>
공지 디테일
<section>
<div class="tableBox mb-3">
	<table class="table table-striped-columns">
		<thead>
		  <colgroup>
		    <col style="" />
		    <col style="" />
		    <col style="" />
		    <col style="" />
		    <col style="" />
		    <col style="" />
		  </colgroup>
		  <thead>
			<tr class="table-dark">
				<th>NO</th>
				<td th:text="${dto.nNo}"></a></td>
				<th>제목</th>
				<td th:text="${dto.title}"></a></td>
				<th>작성일</th>
				<td th:text="${#dates.format(dto.regDate, 'yyyy-MM-dd')}"></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>본문</th>
				<td colspan="5" th:if="${dto.file} != ''">
					<img th:src="@{/view/notice/fff/}+${dto.file}" style="padding:10%;" width="500px"/>
					<p align="center">[[${dto.content}]]</p>
				</td>
				
				<td colspan="5" th:if="${dto.file} == ''">
					<p align="center">[[${dto.content}]]</p>
				</td>
			</tr>
		</tbody>
			<tr>
				<td colspan="6" align="right" th:if="${login.sCode} == 's0001'">
					<a th:href="@{|/notice/modify/${dto.nNo}|}">수정</a>
					<a th:href="@{|/notice/delete/${dto.nNo}|}" id="no">삭제</a>
					<a href="/notice/list">목록으로</a>
				</td>
	
				<td colspan="6" align="right" th:if="${login.sCode} != 's0001'">
					<a href="/notice/list">목록으로</a>
				</td>
			</tr>
		</thead>
	</table>
</div>
</section>
</body>
</html>