<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script>
	$(function() {
		$("#ok").click(function() {
			var title = document.getElementById("title").value;
			var content = document.getElementById("content").value;
			
			if (!title) {
				alert('제목을 입력해주세요.')
				return false;
			} else if((!content)){
				alert('내용을 입력해주세요.')
				return false;
			}else{
				return true;
			}
		});
	});
</script>
</head>
<body>
공지 추가
<section>
<form action="insertReg" method="post" enctype="multipart/form-data">
<div class="tableBox mb-3">
	<table class="table table-striped-columns">
		<thead>
		  <colgroup>
		    <col style="" />
		    <col style="" />
		  </colgroup>
			
			<tr>
				<th class="table-dark top">제목</th>
				<td>
					<input type="text" name="title" id="title"/>
				</td>
			</tr>
				<th class="table-dark top">내용</th>
				<td>
					<textarea rows="12" cols="120" name="content" id="content" style="resize: none;"></textarea>
				</td>
			</tr>
				<th class="table-dark top">파일</th>
				<td>
					<input type="file" name="upFile" accept=".jpg, .png" multiple/>
				</td>
			</tr>
			
			<tr>
				<td colspan="2" align="right">
					<input type="submit" value="작성" id="ok" class="btn btn-dark"/>
					<a href="/notice/list" class="btn btn-dark">취소</a>
				</td>
			</tr>
		</thead>
	</table>
</div>
</form>
</section>
</body>
</html>