
<style>	
/* 	section {
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}
	.scr{
		border: 1px solid #fff;
		width: 1200px;
		height: 450px;
		overflow-y: scroll;
	}
	.tableBox {
		width: 100%;
		max-height: 600px;
		overflow: auto;
		text-align:center;
	}
	.table > thead{
		position: sticky;
		top:0;
	}
	
	.table > tfoot{
		position: sticky;
		bottom: -1px;
	}
	
	.table input[type="text"]{
		
		width: 100%;
		border: none;
		background-color: transparent;
		display: none;
	}
	.table input[type="checkbox"]{
		cursor: pointer;
	}
	
	.dataRow span{
		display: inline-block;
		width: 100%;
	}
	.dataRow.active span{
		display: none;
	}
	.dataRow.active input[type="text"]{
		display: inline;
	} */
	
</style>
<script>
$(function(){
	$(".list").click(function(){
		var rStat = $(this).text();
		console.log(rStat)
		  $.ajax({
		          type: 'post'
		        , url: '../storeOrder/detail'
		        , data: { rStat: rStat }
		        , dataType : 'html'
		        , success: function(data) {
		        	$("#popup").html(data);
		          }
		  });	
	})		
})
</script>

<h2>매장 발주 목록</h2>

	<form action="">
		<div class="searchBox container mb-3 border-bottom">
			<div class="row g-3 align-items-center">		
				<div class="col-md-auto">			
					<div class="input-group">
						<span class="input-group-text">기간</span>
						<input type="date" class="form-control" name="start"> 
						<div class="px-2"> ~ </div> 
						<input type="date" class="form-control" name="end">
					</div>
				</div>
				<div class="col-md-auto">			
					<div class="input-group">
						<span class="input-group-text">처리현황</span>
						<select class="form-select" name="proceseRes">
	                        <option value="" selected disabled hidden>처리 선택</option>
	                        <option value="미처리">미처리</option>
	                        <option value="수락">수락</option>
	                        <option value="거절">거절</option>
	                    </select>
					</div>
				</div>
				<div class="col-md-auto">				
					<div class="col-md-auto">				
						<div class="input-group">
							<span class="input-group-text">발주번호</span>
							<input type="text" class="form-control" name="rStat" placeholder=""/>
						</div>
					</div>
				</div>	
			</div>
			<div class="row justify-content-end align-items-center">
				<div class="col-auto mb-3">				
					<div class="input-group">
						<input class="btn btn-dark" type="submit" value="검색"/>
					</div>	
				</div>
			</div>
		</div>
	</form>
	
	<div class="tableBox mb-3">
		<table class="table table-striped-columns">
			<colgroup>
				<col style="min-width:80px; width: 20%;"/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
				<col style=""/>
			</colgroup>
			<thead>
				<tr class="table-dark top">
					<td>요청일</td>
					<td>요청매장</td>
					<td>발주번호</td>
					<td>수량</td>
					<td>금액</td>
					<td>처리현황</td>
				</tr>
			</thead>
			<tbody>		
			 	<tr th:each="list : ${listData}" th:if="${session.loginStore.sCode eq list.sCode || session.loginStore.auth eq '관리자' }">
					<td th:text="${#dates.format(list.requestDate, 'yyyy/M/dd')}"></td>
					<td th:text="${list.sName}"></td>
					<td><a th:text="${list.rStat}" class="list"/></td>
					<td th:text="${list.statCnt}"></td>
					<td th:text="${list.statPrice}"></td>
					<td th:text="${list.proceseRes}"></td>
				</tr>
				
			</tbody>
		</table>
	</div>


	<div id="popup" class="tableBox mb-3">
		
	</div>
	
