<script th:inline="javascript">
	$(function(){		
		
	})
	
	
	function submit() {
		
		if(cnt() == 0){
			$('form').submit();
		}else{
			alert("이미 존재하는 상품입니다");
		}
	}
	
	function cnt() {
		var inval = 0;
		document.querySelectorAll('input[name*="pCode"]').forEach((element) => {
			if(element.classList.contains('is-invalid') == true){
				inval++;
			}
		});
		return inval;
	}
	
	function getCode(n){
		var pCode = '';
		n.value= n.value.toUpperCase();
		console.log('----------', $(n).val())
		var row = $(n).parents('.dataRow');
		var target = row.find('input[name*=pCode]');
		var pNum = row.find('input[name*=pNum]').val();
		var color = row.find('input[name*=color]').val();
		var pSize = row.find('input[name*=pSize]').val();
		var season = row.find('input[name*=season]').val();
		
		pNum = pNum.toUpperCase();
		color = color.toUpperCase();
		pSize = pSize.toUpperCase();
		season = season.toUpperCase();
		
		
		pCode = pNum+color+pSize;
		
		
		$.ajax({
			type: "post",
			url: "pCodeChk",
			data: {pCode: pCode},
			dataType: 'html',
			success: function (data) {
				if(data == 0) {
					console.log("성공", data)
					$(target).removeClass('is-invalid');
					$(target).addClass('is-valid');
				}else {
					console.log("실패", data)
					$(target).removeClass('is-valid');
					$(target).addClass('is-invalid');
				}
			}
		});

		
		console.log(season , pNum , pCode)
		target.val(pCode);
		pCode = '';
	}
	
	function getPrice(n){
		
		var totPrice = '';
		var row = $(n).parents('.dataRow');
		var target = row.find('input[name*=totPrice]');
		var liPrice = Number(row.find('input[name*=liPrice]').val());
		var cnt = Number(row.find('input[name*=cnt]').val());
		
		totPrice = liPrice * cnt;
		
		target.val(totPrice);
		
		
		/* 통계 - 수량/총액 */
		var cntArr = $('input[name*=cnt]');
		var resCnt = $('#resCnt')
		var resCntVal = 0;
		$(cntArr).each(function(i,cnt){
			
			resCntVal += Number(cnt.value)
		})
		console.log(resCntVal)
		resCnt.text(resCntVal.toLocaleString("ko-KR")+" 개");
		
		var priceArr = $('input[name*=totPrice]');
		var resPrice = $('#resPrice')
		var resPriceVal = 0;
		$(priceArr).each(function(i,price){
			
			resPriceVal += Number(price.value)
		})
		console.log(resPriceVal)
		resPrice.text(resPriceVal.toLocaleString("ko-KR")+" 원");
		
		
	}
	
	
	function getResPrice(){
		var priceArr = $('input[name*=totPrice]');
		var resPrice = $('#resPrice')
		var val = 0;
		$(priceArr).each(function(i,price){
			
			val += Number(price.value)
		})
		console.log(val)
		resPrice.text(val.toLocaleString("ko-KR")+" 원");
	}
	
	
	
	function addRow(){

		var cnt = totCnt();
		console.log(cnt ,'-----')
		var addData = `
		<tr class="dataRow">
	 		<td><div class="btn btn-sm btn-danger" onclick="delRow(this);">지우기</div></td>
	 		<td>
	 			<select class="form-select" name="prodArr[${cnt}].bCode" required>
		 			<option value="" selected disabled hidden>브랜드 선택</option>

		         </select>
	 		</td>
	 		<td>
				<input type="text" class="form-control" name="prodArr[${cnt}].season" onKeyup="getCode(this);" style="text-transform: uppercase;" required />
			</td>
			<td>
				<select class="form-select" name="prodArr[${cnt}].grade" required>
		             <option value="0" selected>일반</option>
		             <option value="1">스페셜</option>
		         </select>
			</td>
			
			<td>
				<input type="text" class="form-control" name="prodArr[${cnt}].pName" required />
			</td>
			<td>
				<input type="text" class="form-control" name="prodArr[${cnt}].pNum" onKeyup="getCode(this);" style="text-transform: uppercase;" required />
			</td>
			<td>
				<input type="text" class="form-control" name="prodArr[${cnt}].color" onKeyup="getCode(this);" style="text-transform: uppercase;" required />
			</td>
			<td>
				<input type="text" class="form-control" name="prodArr[${cnt}].pSize" onKeyup="getCode(this);" style="text-transform: uppercase;" required />
			</td>
			<td>
				<input type="text" class="form-control" name="prodArr[${cnt}].pCode" onKeyup="getCode(this);" readonly required />
			</td>
			<td>
				<input type="text" class="form-control" name="prodArr[${cnt}].liPrice" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');getPrice(this);" required />
			</td>
			<td>
				<input type="text" class="form-control" name="prodArr[${cnt}].cnt" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');getPrice(this);" required />
			</td>
			<td>
				<input type="text" class="form-control" name="prodArr[${cnt}].totPrice" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');getPrice(this);" readonly required />
			</td>
		</tr>
		`;

		$('#dataBody').append(addData);
		totCnt();	
		bList();
	}
	
	function delRow(del){
		var row = $(del).parents('.dataRow');
		row.remove();
		totCnt();
	}
	
	function totCnt(){
		var tot = $('.dataRow').length;
		$('#rowCnt').text(tot);
		return tot;
	}
	
	
	function bList(){
		var target = $('.dataRow').last().find('select[name*=bCode]');
		var addOpt ='';
		 [# th:each="bd : ${brandData}"]
		 addOpt+= '<option value="'+[[${bd.bCode}]]+'">'+[[${bd.bName}]]+'</option>'
	    [/]
		 target.append(addOpt);
	}
</script>

<h2 class="title row mt-5 mb-5 p-2 justify-content-center">상품 등록</h2>

<section>
	<form action="insertReg" method="post" th:object="${productDTO}">
		<th:block th:each="st : ${storeData}">		
			<input type="hidden" th:name="|storeArr[${stStat.index}].sCode|" th:value="${st.sCode}" />			
		</th:block>
		<div class="tableBox mb-3">
			<table class="table table-striped-columns">
				<colgroup>
					<col style="min-width:80px;"/>
					<col style="min-width:150px;"/>
					<col style="min-width:100px;"/>
					<col style="min-width:120px;"/>
					<col style="min-width:200px;"/>
					<col style="min-width:150px;"/>
					<col style="min-width:80px;"/>
					<col style="min-width:80px;"/>
					<col style="min-width:200px;"/>
					<col style="min-width:120px;"/>
					<col style="min-width:100px;"/>
					<col style="min-width:150px;"/>

				</colgroup>
				<thead>
					<tr class="table-dark top">
						<td></td>
						<td>브랜드</td>
						<td>시즌</td>
						<td>상품등급</td>
						<td>상품명</td>
						<td>품번</td>
						<td>컬러</td>
						<td>사이즈</td>
						<td>상품코드</td>
						<td>정가</td>
						<td>입고수량</td>
						<td>총금액</td>

					</tr>
				</thead>
				<tbody id="dataBody">
					<tr class="dataRow">
				 		<td><div class="btn btn-sm btn-danger" style="visibility:hidden;">지우기</div></td>
				 		<td>
				 			<select class="form-select" th:name="|prodArr[0].bCode|" required>
					             <option value="" selected disabled hidden>브랜드 선택</option>
					             <option th:each="bd : ${brandData}" th:value="${bd.bCode}" th:text="${bd.bName}" />

					         </select>
				 		</td>
				 		<td>
							<input type="text" class="form-control" th:name="|prodArr[0].season|" onKeyup="getCode(this);" style="text-transform: uppercase;" required />
						</td>
						<td>
							<select class="form-select" th:name="|prodArr[0].grade|" required>
					             <option value="0" selected>일반</option>
					             <option value="1">스페셜</option>
					         </select>
						</td>
						
						<td>
							<input type="text" class="form-control" th:name="|prodArr[0].pName|" required />
						<td>
							<input type="text" class="form-control" th:name="|prodArr[0].pNum|" onKeyup="getCode(this);" style="text-transform: uppercase;" required />
						</td>
						<td>
							<input type="text" class="form-control" th:name="|prodArr[0].color|" onKeyup="getCode(this);" style="text-transform: uppercase;" required />
						</td>
						<td>
							<input type="text" class="form-control" th:name="|prodArr[0].pSize|" onKeyup="getCode(this);" style="text-transform: uppercase;" required />
						</td>
						<td>
							<input type="text" class="form-control" th:name="|prodArr[0].pCode|" onKeyup="getCode(this);" readonly required />
						</td>
						<td>
							<input type="text" class="form-control" th:name="|prodArr[0].liPrice|" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');getPrice(this); getResPrice();" required />
						</td>
						<td>
							<input type="text" class="form-control" th:name="|prodArr[0].cnt|" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');getPrice(this);" required />
						</td>
						<td>
							<input type="text" class="form-control" th:name="|prodArr[0].totPrice|" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');getPrice(this); getResPrice();" readonly required />
						</td>
					</tr>

				</tbody>
				<tfoot class="table-group-divider">
					<tr class="tot table-secondary">
						<td>통계</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td id="resCnt">0</td>

						<td id="resPrice">0 원</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="row justify-content-between align-items-center">	
			
			<div class="col-auto mb-3">								
						
					<a href="list" class="btn btn-dark">목록으로 </a>	
			</div>
			<div class="col-auto mb-3">								
					<div id="addBtn" class="btn btn-success" onclick="addRow();">상품추가</div>	
					<div id="subbtn" class="btn btn-primary" onclick="submit();" >상품등록 <span id="rowCnt" class="badge text-bg-secondary">1</span></div>
			</div>
		</div>
	</form>
	
</section>


</body>
